# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used languages used by Data Scientists include:
    
    1. PYTHON
    2. SQL
    3. C++
    4. JAVA
    5. R

Some of the commonly used libraries used by Data Scientists include:
    
    1. Matplotlib
    2. TENSORFLOW
    3. SCIPY
    4. PANDAS
    5. NUMBY
    6. PYTOUCH

|Data Science tools|
|---|
|SAS|
|TENSORFLOW|
|APACHE HADOOP|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__object__

 * List popular languages for Data Science
 * List puoler libraries for Data Science
 * List of well know data science tools
 * how to provied comments in cell

## Author
mohamed abdelnasser mohamed